


body {
    background-image:url("/public/images/pexels-thisisengineering-3913025.jpg") ;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: var(--color-white);
    text-align: center;
    opacity: var(--opacity);
}

.login-Container{
    background-color: var(--color-white);
}